{#
  {% include "_plugins/webform/blocks/form-fields/checkboxes" with {
    inputName: 'inputName',
    required: true,
    label: 'Input Name',
    options: [
      {label: 'Label', value: 'value'},
      {label: 'Label', value: 'value'}
    ],
    helpBlock: ''
  } only %}
#}
{% if matrixBlock.inputName is defined %}
  {% set inputName = matrixBlock.inputName %}
  {% set required = matrixBlock.required %}
  {% set label = matrixBlock.label %}
  {% set options = matrixBlock.options %}
  {% set helpBlock = matrixBlock.helpBlock %}
{% endif %}
<div class="form-group">
  <label>
    {% if required %}
      <span class="text-danger"><strong>*</strong></span>
    {% endif %}
    {{ label }}
  </label>
  <div class="input">
    <input type="hidden" name="fields[{{ inputName }}][label]" value="{{ label }}">
    {% for option in options %}
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            name="fields[{{ inputName }}][value][]"
            value="{{ option.value|default(option.label) }}"
            {% if loop.first and required %}
              data-fv-notempty="true"
              data-fv-notempty-message="Please select at least one option above."
            {% endif %}
          >
          {{ option.label }}
        </label>
      </div>
    {% endfor %}
    {% if helpBlock is defined and helpBlock is not empty %}
      <span class="help-block">{{ helpBlock }}</span>
    {% endif %}
  </div>
</div>
