{# Import the form helper macros #}
{% import 'partials/macros/form-helpers' as fh %}

{% embed 'email/_base' %}

  {% block subject %}
    {{ subject }}
  {% endblock %}

  {% block body %}
    {% for field in fields %}
      {% if field.value is defined and field.value == "__section__" %}
        <p>&nbsp;</p>
        <h2>{{ fh.formFieldLabel(field) }}</h2>
      {% else %}
        {% if field.value is defined and field.value is not empty %}
          <p>
            <strong>{{ fh.formFieldLabel(field) }}:</strong>
            {{ fh.formFieldValue(field) }}
          </p>
        {% endif %}
      {% endif %}
    {% endfor %}

    <p>&nbsp;</p>
    <h2>Payment Details</h2>

    <p>
      <strong>Order ID:</strong>
      {{ orderId }}
    </p>

    {% for amount in amounts %}
      <p>
        <strong>{{ fh.formFieldLabel(amount) }}:</strong>
        ${{ amount.value | number_format(2) }}
      </p>
    {% endfor %}
  {% endblock %}

{% endembed %}
