{# Import the form helper macros #}
{% import 'partials/macros/form-helpers' as fh %}

{# This generates the form tag that will submit the form to the custom plugin. #}
{# <form role="form" id="submission-form" method="post" ... #}
{{ craft.webForm.formTag({
  'entryId': entry.id
}) }}

  <div class="row">
    <div class="col-sm-12">
      {{ fh.formField(entry, 'section_contact_info') }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {{ fh.formField(entry, 'first_name') }}
    </div>
    <div class="col-sm-6">
      {{ fh.formField(entry, 'last_name') }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{ fh.formField(entry, 'address_street') }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">{{ fh.formField(entry, 'address_city') }}</div>
    <div class="col-sm-4">{{ fh.formField(entry, 'address_state') }}</div>
    <div class="col-sm-4">{{ fh.formField(entry, 'address_zip') }}</div>
  </div>

  <div class="row">
    <div class="col-sm-6">{{ fh.formField(entry, 'interested_in') }}</div>
    <div class="col-sm-6">{{ fh.formField(entry, 'contact_reference') }}</div>
  </div>

  <hr>

  {% if entry.captcha %}
    <div class="form-group">
      <label class="control-label">Please verify that a real person is submitting this form</label>
      {# The captcha container #}
      <div id="captchaContainer"></div>
      <p class="help-block">The checkbox above helps us decrease spam form submissions.</p>
    </div>
  {% endif %}

  <div class="submit">
    <input type="submit" class="btn btn-primary" value="{{ entry.submitButtonLabel | default('Submit') }}">
  </div>

</form>

<div id="processing-submission" style="display:none;margin:100px auto;text-align:center;">
  <p><img src="http://nlc-helpers.s3.amazonaws.com/loadingAnimation.gif" alt="Processing..." /></p>
  <p>Processing your form submission, please wait...</p>
</div>

{# ================= Include the form validation code =================== #}

{% includeCssResource 'webform/css/formValidation.min.css' %}
{% includeJsResource 'webform/js/formValidation.min.js' %}
{% includeJsResource 'webform/js/bootstrapFormValidation.min.js' %}
{% if entry.captcha %}
  {% includeJsResource 'webform/js/reCaptcha2.min.js' %}
{% endif %}

{% set validationJs %}
$(document).ready(function() {
  $('#submission-form input[type=submit]').click(function() {
    $('#submission-form').data('formValidation').resetForm();
  });
  $('#submission-form').formValidation({
    framework: 'bootstrap',
    live: 'disabled',
    autoFocus: false
  })
  .on('success.form.fv', function(e) {
    $('#processing-submission').show();
    $('#submission-form').hide();
  });
});
{% endset %}

{% includeJs validationJs %}
