{#
  -----------------------------------------------------------------------------

  Checkboxes

  {{ fh.checkboxes({
    inputName: 'inputName',
    required: true,
    label: 'Input Name',
    options: [
      {label: 'Label', value: 'value'},
      {label: 'Label', value: 'value'}
    ],
    helpBlock: ''
  }) }}
#}
{% macro checkboxes(params) %}
  {% include '_plugins/webform/blocks/form-fields/checkboxes' with params only %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  Dropdown

  {{ fh.dropdown({
    inputName: 'inputName',
    required: true,
    label: 'Input Name',
    promptOption: '',
    options: [
      {label: 'Label', value: 'value'},
      {label: 'Label', value: 'value'}
    ],
    helpBlock: ''
  }) }}
#}
{% macro dropdown(params) %}
  {% include '_plugins/webform/blocks/form-fields/dropdown' with params only %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  Dropdown Us States

  {{ fh.dropdownUsStates({
    inputName: 'inputName',
    required: true,
    label: 'Input Name',
    promptOption: '',
    helpBlock: ''
  }) }}
#}
{% macro dropdownUsStates(params) %}
  {% include '_plugins/webform/blocks/form-fields/dropdownUsStates' with params only %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  Form Section

  {{ fh.formSection({
    sectionTitle: 'title',
    showDivider: true
  }) }}
#}
{% macro formSection(params) %}
  {% include '_plugins/webform/blocks/form-fields/formSection' with params only %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  Hidden Field

  {{ fh.hidden({
    label: 'Input Name',
    value: 'value'
  }) }}
#}
{% macro hidden(params) %}
  {% include '_plugins/webform/blocks/form-fields/hidden' with params only %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  Radio Buttons

  {{ fh.radioButtons({
    inputName: 'inputName',
    required: true,
    label: 'Input Name',
    options: [
      {label: 'Label', value: 'value'},
      {label: 'Label', value: 'value'}
    ],
    helpBlock: ''
  }) }}
#}
{% macro radioButtons(params) %}
  {% include '_plugins/webform/blocks/form-fields/radioButtons' with params only %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  Text Area

  {{ fh.textArea({
    inputName: 'inputName',
    required: true,
    label: 'Input Name',
    rows: 2,
    placeholder: '',
    helpBlock: ''
  }) }}
#}
{% macro textArea(params) %}
  {% include '_plugins/webform/blocks/form-fields/textArea' with params only %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  Textbox

  {{ fh.textbox({
    inputName: 'inputName',
    required: true,
    label: 'Input Name',
    placeholder: '',
    helpBlock: ''
  }) }}
#}
{% macro textbox(params) %}
  {% include '_plugins/webform/blocks/form-fields/textbox' with params only %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  This macro is intended for use in a custom form. Use it to generate a form input for a
  specific field identified by the 'input_name'.
#}
{% macro formField(entry, input_name) %}
  {% if entry.formFields %}
    {% for matrixBlock in entry.formFields %}
      {% if matrixBlock.inputName == input_name %}
        {% set include_type = '_plugins/webform/blocks/form-fields/' ~ matrixBlock.type %}
        {% include include_type %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{#
  -----------------------------------------------------------------------------

  This macro is used specifically to getnerat the form inputs for the DEFAULT form template.
  It automatically adds the 'row' and 'col-xs-12' divs to lay out the inputs on the page.
#}
{% macro defaultFormField(entry, input_name) %}
<div class="row">
  <div class="col-xs-12">
  {% if entry.formFields %}
    {% for matrixBlock in entry.formFields %}
      {% if matrixBlock.inputName == input_name %}
        {% set include_type = '_plugins/webform/blocks/form-fields/' ~ matrixBlock.type %}
        {% include include_type %}
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endmacro %}
