<div class="form-group">
  <h4>
    {% if matrixBlock.required %}
      <span class="text-danger"><strong>*</strong></span>
    {% endif %}
    {{ matrixBlock.label }}
  </h4>
  <div class="input">
    <input type="hidden" name="fields[{{ matrixBlock.inputName }}][label]" value="{{ matrixBlock.label }}">
    {% for option in matrixBlock.options %}
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            name="fields[{{ matrixBlock.inputName }}][value][]"
            value="{{ option.value | default(option.label) }}"
            {% if loop.first and matrixBlock.required %}
              data-fv-notempty="true"
              data-fv-notempty-message="Please select at least one option above."
            {% endif %}
          >
          {{ option.label }}
        </label>
      </div>
    {% endfor %}
    {% if matrixBlock.helpBlock is not empty %}
      <span class="help-block">{{ matrixBlock.helpBlock }}</span>
    {% endif %}
  </div>
</div>
