<div class="form-group">
  <label class="control-label" for="fields_{{ matrixBlock.inputName }}">
    {% if matrixBlock.required %}
      <span class="text-danger"><strong>*</strong></span>
    {% endif %}
    {{ matrixBlock.label }}
  </label>
  <div class="input">
    <input type="hidden" name="fields[{{ matrixBlock.inputName }}][label]" value="{{ matrixBlock.label }}">
    <input
      class="form-control"
      type="text"
      id="fields_{{ matrixBlock.inputName }}"
      name="fields[{{ matrixBlock.inputName }}][value]"
      placeholder="{{ matrixBlock.placeholder | default('') }}"
      {% if matrixBlock.required %}
        data-fv-notempty="true"
        data-fv-notempty-message="This field cannot be empty."
      {% endif %}
    >
    {% if matrixBlock.helpBlock is not empty %}
      <span class="help-block">{{ matrixBlock.helpBlock }}</span>
    {% endif %}
  </div>
</div>
